@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

body {
  font-family: 'Cantora One', sans-serif;
  overflow: hidden;
}



.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  text-align: center;
  margin: auto;
  border-radius: 20px;
  border-style: solid;
  border-color: black;

}

.description {
  width: 30vw;
  height: 10vh;
  
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 1vh;
  color: black;
}

.description:hover {
  background-color: black;
  color: white;
  
}

.heading {
  
  border-radius: 15px;
  height: 10vh;
  width: 30vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  font-size: 26px;
  
  
}

.heading:hover {
  background-color: black;
  color: white;
  
}

.text-box {
  width: 15vw;
  height: 8vh;
 
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  
  

}

.text-box:hover {
  color: white;
  
}

#amount {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  height: 4.5vh;
  border-radius: 5px;
  margin-bottom: 2vh;
  
}

#given {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  height: 4.5vh;
  border-radius: 5px;
  margin-top: vh;
}

#check-button {
  width: 8vw;
  margin-left: auto;
  margin-right: auto;
  height: 8vh;
  border-radius: 6px;
  margin-top: 4vh;
  font-family: 'Cantora One', sans-serif;
}

#check-button:hover {
  background-color: black;
  color: white;
}

.color {
  margin-bottom: 3vh;;
}



.color:hover {
  color: white;
}

.description:hover {
  background-color: black;
  color: white;
  width: 22vh;
  
}
table td, th{
  
  border: 1px solid black;
}
th, td {
  padding: 7px;
}
table{
  border-collapse: collapse;
  width: 100%
}

.table-content {
  border: 1px solid black;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  
}

@media only screen and (max-width: 700px) {
  
  body {
    font-family: 'Cantora One', sans-serif;
    
    overflow: hidden;
  }
  .container {
    height: 90vh;
    margin: auto;
  }
  
  .heading {
  
    
    font-size: 18px;
    
    
  }
  .description {
    
    font-size: 12px;
  }
  .text-box {
    font-size: 15px;
  }
  #check-button{
    width: 20vw;
  }
  .table-content {
    margin-bottom: 4vh;
    
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 4px;
  }
  

  .main{
    font-size: 8px;
  }
  #no-of-notes {
    font-size:10px;
  }
  .notes {
    font-size: 10px;
  }
}

